{% extends 'PimEnrichBundle::layout.html.twig' %}
{% import 'PimDataGridBundle::macros.html.twig' as dataGrid %}
{% block page_container %}

    {% block head %}
        {{ parent() }}
        {% block javascripts %}
            <script type="text/javascript">
                function getElvisCategories(code) {
                    $.ajax({
                        type: 'POST',
                        url: "{{ path('elvis_connector_get_categorie') }} ",
                        data: "&code=" + code,
                        datatype: "html",
                        success: function (data) {
                            $('#' + code.split('/').join('') + '_content').html(data).show();
                        },

                    }).done(function() {
                        getElvisCategorieContent(code);
                    });
                }
                function getElvisCategorieContent(code) {
                    $.ajax({
                        type: 'POST',
                        url: "{{ path('elvis_connector_get_categorie_content') }} ",
                        data: "&code=" + code,
                        datatype: "html",
                        success: function (data2) {
                            $('#categorieContent').html(data2).show();
                        }

                    });
                }
            </script>
        {% endblock %}
    {% endblock %}


    {% block content %}
        <div id="elvis_lib" style="display:-webkit-box;margin-top: 50px;width:70%">
            <div id="tree" style="margin:50px;width:20%">
                <ul id="#hits">

                    {% for hit in result %}
                        {% if hit is defined %}
                            <div id="{{ hit.assetPath | replace({'/' : ''}) }}" style="padding-bottom:1em;">
                                <a href="#" onclick="getElvisCategories('{{ hit.assetPath }}')">{{ hit.name }}</a>
                                <div id="{{ hit.assetPath | replace({'/' : ''}) }}_content" >
                                </div>
                            </div>


                        {% endif %}
                    {% endfor %}
                </ul>
            </div>

            <div id="categorieContent" style="display:inline-flex;flex-wrap: wrap"></div>
        </div>
    {% endblock %}


{% endblock %}