{% block page_container %}

    {% block head %}

        {% block javascripts %}
            <script type="text/javascript">
                function getElvisCategories(code) {
                    $.ajax({
                        type: 'POST',
                        url: "{{ path('elvis_connector_get_categorie') }} ",
                        data: "&code=" + code,
                        datatype: "html",
                        success: function (data) {
                            $('#' + code.split('/').join('') + '_content').html(data).show();
                        },

                    }).done(function () {
                        getElvisCategorieContent(code);
                    });
                }
                function getElvisCategorieContent(code) {
                    $.ajax({
                        type: 'POST',
                        url: "{{ path('elvis_connector_get_categorie_content') }} ",
                        data: "&code=" + code,
                        datatype: "html",
                        success: function (data2) {
                            $('#categorieContent').html(data2).show();
                        }

                    });
                }
                function allowDrop(ev) {
                    ev.preventDefault();
                }

                function drag(ev) {
                    ev.dataTransfer.setData("text", ev.target.id);
                }

                function drop(ev,el) {
                    ev.preventDefault();
                    var data = ev.dataTransfer.getData("text");
                    el.appendChild(document.getElementById(data));
                }


                function setProductAssets(idprod, idattrib, assets) {
                    $.ajax({
                        type: 'POST',
                        url: "{{ path('elvis_connector_update_product') }} ",
                        data: "&assets=" + assets + "&idprod=" + idprod + "&idattrib=" + idattrib,
                        datatype: "html",
                        success: function (data) {
                            $('#logmils').html(data).show();
                        }

                    });

                }


            </script>
            <script type="text/javascript">
                var idattrib = $(".akeneo-elvis-asset-collection-field").parent().prop("id");
                var idprod = ((($(location).attr('href').split('product/'))[1]).split('?'))[0].match(/\d+/);
                $("#validDrag").click(function () {
                    var assets = [];
                    $.each(
                        $("#elvisAssetDrag > div"), function (index, value) {
                            assets.push(value.id);
                        }
                    );
                    setProductAssets(idprod, idattrib, assets);
                    $("#elvisAssetCollection").html($("#elvisAssetDrag").html());
                    $("#popupFormConsulter").fadeOut().removeClass("active");
                    $('.modal-backdrop').hide();
                });

                $(".removeAsset").each(function(removeBtn) {
                     $(this).click(function () {
                       $(this).parent().remove();
                    })
                });


            </script>
        {% endblock %}
    {% endblock %}


    {% block content %}
        <div id="elvis_lib" style="display:inline-flex;margin-top: 50px;width:100%">
            <div id="tree" style="margin:5%;width:10%;">
                <ul id="#hits">

                    {% for hit in result %}
                        {% if hit is defined %}
                            <div id="{{ hit.assetPath | replace({'/' : ''}) }}" style="padding-bottom:1em;">
                                <a onclick="getElvisCategories('{{ hit.assetPath }}')">{{ hit.name }}</a>
                                <div id="{{ hit.assetPath | replace({'/' : ''}) }}_content">
                                </div>
                            </div>


                        {% endif %}
                    {% endfor %}
                </ul>
            </div>

            <div id="categorieContent" style="display:inline-flex;flex-wrap: wrap;width:40%;"></div>
            <div style="border: 1px solid lightslategray;margin-left:5%;width:20%;">
                <div id="elvisAssetDrag" style="height:100%;display: flex;flex-wrap: wrap;" ondrop="drop(event,this)" ondragover="allowDrop(event)"></div>
            </div>
            <div id="selectedElvisAssets"></div>

        </div>

        <div class="AknButtonList AknButtonList--right modal-footer" style="margin-top: 20px;">
            <a title="Annuler"
               class="AknButtonList-item AknButton AknButton--withIcon AknButton--grey cancel icons-holder-text">
                <i class="AknButton-icon icon-chevron-left"></i> Annuler </a>
            <a title="Confirmer" id="validDrag"
               class="AknButtonList-item AknButton AknButton--withIcon AknButton--apply ok icons-holder-text">
                <i class="AknButton-icon icon-ok"></i> Confirmer </a>
        </div>
        <div id="logmils"></div>
    {% endblock %}


{% endblock %}