{% extends 'PimEnrichBundle::layout.html.twig' %}
{% import 'PimDataGridBundle::macros.html.twig' as dataGrid %}


{% block page_container %}
    {% block content %}
resultat de la recherche : <br/>
<table border ='2'><thead><tr><td>Id</td><td>image</td><td>Telecharger</td></tr></thead><tbody>
{% for image in result.hits %}

{% if image.originalUrl is defined %}
<tr>
<td width ='150px' height='150px'>{{ image.originalUrl }}</td>
<td style="background-image:url( {{ image.originalUrl }}&authcred={{ result.cred }}); background-repeat:repeat;width='250px'"></td>
<td><a href='{{image.originalUrl}}&authcred={{result.cred}}'>Telecharger</a></td>
</tr>
{% endif %}
{% endfor %}
</tbody></table>

	{% endblock %}
{% endblock %}